/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}


img {

        width: 100%;

        display: block;

}


body {
	background-color: #FAFAFA; /* Not totally white. */
	color: _______;  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family:serif;
}

h1 {
	background-color: #9898A4;
	color: #FAFAFA; /* Same as body background. */
	font-size: 3.5em;
	padding: 1em 0.5em 0.5em; /* You want three values. */
	font-weight: 1000;
	text-transform: _______;
	font-family:sans-serif;
	font-variant-caps: all-small-caps;
}


h2 {
	background-color: #9898A4;
	color: #FAFAFA;
	font-size: 2em;
	padding: 0.5em 0.8em 1em; /* You want three values. */
	font-family:serif;
	font-weight: 700;
}

h3 {
	margin: 2em 0.5em 1em; /*Three values again. You got the idea.*/
	padding-top: _______;
	font-size: 2em;
	color: #9D3D30;
	font-weight: 700;
	text-transform: _______;
	font-family:sans-serif;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: 2px #9D3D30 solid;
	font-variant-caps: all-small-caps;
}

h4 {
	font-weight: 700;
	margin: 1em 0.5em 0em;
	font-family:sans-serif;
}

p.description {
	font-style:italic;
	margin: 0em 0.5em 0em;
	font-family:sans-serif;
}

p.price {
	color: #9D3D30;
	margin: 0em 0.5em 1em;
	font-family:sans-serif;
}

ul {
	margin: 1em 0.5em 1em;
}

li { 
	margin: ____ ____;
	list-style-type: ____;
}
